.training-availability-table {
	img {
		width: 410px;
		margin: 50px 5px 20px 5px;
		box-shadow: 0 2px 4px rgba(23, 255, 2);
		border-radius: 10px;
	}
	p {
		font-weight: 500;
	}
	a {
		color: #81ff28;
		text-decoration: none;
	}
}
